@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@0;1&family=Josefin+Sans:wght@100;200;300;400;500&family=Lora:ital,wght@1,400;1,500;1,600&family=Poppins:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Raleway:ital,wght@0,200;0,300;1,200&family=Varela&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: #232526;
    color: #e9edfb;
    cursor: pointer;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: black;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .navbar-pc .nav-ul{
    list-style: none;
}

.header .navbar-pc .nav-ul li{
    position: relative;
    float: left;
}

.header .navbar-pc .nav-ul li:hover ul{
    display: block;
}

.header .navbar-pc .nav-ul li a{
    padding: 2rem;
    display: block;
    font-size: 1.7rem;
    color: #fff;
}

.header .navbar-pc .nav-ul li a:hover{
    color: black;
    text-decoration: underline;
    background: #fff;
}

.header .navbar-pc .nav-ul li ul li{
    width: 100%;
}

.menu-btn{
    cursor: pointer;
    color: #fff;
    font-size: 2.5rem;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.home .image{
    flex: 1 1 42rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 42rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home .content h3{
    text-align: center;
    color: #302851;
    font-size: 5rem;
}

.home .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2.5;
    text-align: center;
}

.category{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 2rem;
}

.category .box{
    border-radius: 1rem;
    background: #f5f5f5;
    padding: 4rem 3rem;
    text-align: center;
}

.category .box img{
    height: 7rem;
    margin-bottom: 2rem;
}

.category .box h3{
    text-align: center;
    font-size: 1.7rem;
    color: #232526;
}

.cat-heading{
    margin-top: 2em;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 2rem;
}

.contact-container{
    min-height: 70vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container .c-container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.contact-container .c-container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-container .c-container .form-content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.contact-container .c-container .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top:50%;
    transform: translateY(-50%);
    background: black;
}

.form-content .left-side .details{
    margin: 14px;
    text-align: center;
}

.form-content .left-side .details i{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
}

.form-content .left-side .details .topic{
    font-size: 1.7rem;
    font-weight: 500;
}

.form-content .left-side .details .text-one,
.form-content .left-side .details .text-two{
    font-size: 1.5rem;
}

.c-container .form-content .right-side{
    width: 75%;
    margin-left: 75px;
}

.form-content .right-side .topic-text{
    font-size: 1.6rem;
    font-weight: 600;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border:none;
    outline: none;
    font-size: 1.3rem;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
    background: #F0F1F8;
}

.right-side .message-box{
    min-height: 110px;
}

.right-side .input-box textarea{
    padding-top: 6px;
}

.right-side .button{
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"]{
    color: #fff;
    font-size: 1.4rem;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: black;
}

.button input[type="button"]:hover{
    background: #fff;
    color: black;
}

.footer-container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
}

.footer-container .icons{
    margin-top: 10px;
}

.footer-container .icons i{
    font-size: 2rem;
    margin-left: 20px;
}





@media (max-width:768px){
    .menu-btn{
        display: inline-block;
    }
    .header{
        padding: 2rem;
    }
    .header .navbar-mobile{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: black;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
}